.heading {
    background-color: rgba(84, 177, 206, 0.75);
    margin: auto -10px;
    padding: 16px 32px;
    box-shadow: 0 0 50px 0 rgb(91, 204, 204);
    font-family: sans-serif;
    text-align: center;
}

.center {
    width: 50%;
    height: 100cap;
    background-color: #314282;
    box-shadow: 0 0 50px 0 rgb(91, 204, 204);
    margin: 0 auto;
}

.content-box {
    width: 400px; /* Adjust the width based on your preference */
    margin: 0 auto; /* Center the box horizontally */
    padding: 20px; /* Add padding around the content */
    border: 1px solid #433d3d; /* Add a border for visual separation */
    background-color: rgba(56, 47, 47, 0.68); /* Set a background color for the box */
}




