# Ignore node_modules directory
node_modules/

# Ignore .DS_Store files (Mac)
.DS_Store

# Ignore .vscode directory (Visual Studio Code)
.vscode/

# Ignore .idea directory (JetBrains IDEs)
.idea/

# Ignore .env files containing sensitive information
.env

# Ignore npm-debug.log file
npm-debug.log

# Ignore yarn debug files
yarn-debug.log*
yarn-error.log*

# Ignore editor-specific files
*.sublime-workspace
*.suo
*.ntvs*
*.njsproj
*.sln
