
body {
    background: linear-gradient(-45deg, #FF7E5F, #f4b499);
    background-size: 400% 400%;
    animation: gradient 20s linear running;
    height: 100vh;
    overflow: hidden;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
