
.card-image {
    max-width: 100%;
    height: auto;
    border-radius: 100px;

}

.card-content {
    margin-top: 15px;
}

.card-title {
    font-size: 1.5rem;
    margin-bottom: 8px;
}

.card-text {
    font-size: 1rem;
    color: #555;
}

.card-list {
    display: flex;
    position: relative;
    overflow-x: auto; /* Enable horizontal scrolling */
    padding: 10px; /* Add some padding for spacing */
    /*white-space: nowrap;*/
    justify-content: center;
    backface-visibility: visible;

}



